.button {
  font: inherit;
  border: 1px solid #9d4edd;
  background: #10002b;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #5a189a;
  border-color: #9d4edd;
}

.button:focus {
  outline: none;
}
